<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9JUs2KbqFkUW135QKhVG3NZ1R_pECoYg</string>
	<key>GCM_SENDER_ID</key>
	<string>141426942084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitpalProject</string>
	<key>PROJECT_ID</key>
	<string>project1-bdc1b</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-bdc1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141426942084:ios:272e24b9547f3d020222d1</string>
</dict>
</plist>